<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8" />
      <title>QNA</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Bootstrap -->
      <link href="css/bootstrap.css" rel="stylesheet" media="screen">
      <link href="css/editor.css" rel="stylesheet" />
      <link rel="stylesheet" href="css/jquery.fileupload.css">
      <link rel="stylesheet" href="css/jquery.fileupload-ui.css">
      <!--button-->
      <link rel="stylesheet" href="css/font-awesome.min.css">
      <link rel="stylesheet" href="css/buttons.css">
      <!-- CSS adjustments for browsers with JavaScript disabled -->
      <noscript><link rel="stylesheet" href="css/jquery.fileupload-noscript.css"></noscript>
      <noscript><link rel="stylesheet" href="css/jquery.fileupload-ui-noscript.css"></noscript>
    </head>

    <%= yield %>
</html>





